<div class="core-page-wrapper">
  <div class="template-image">
    <div class="top-price">
      <span class="txt-price">150.000</span>
      <span class="txt-detail">/1 áo</span>
    </div>
    <div class="shirt-group">
      <img class="front-shirt" src="assets/images/front-shirt.png" (click)="changeToFrontShirt()"/>
      <img class="back-shirt" src="assets/images/back-shirt.png" (click)="changeToBackShirt()"/>
    </div>
    <img class="main-img" src="{{this.coreShirtImg}}"/>
    <div [ngDraggable]="true" [ngResizable]="true">
      <img class="design-img" src="assets/images/schoolboy.png">
    </div>
    <div class="group-design-button">
      <button class="left-btn">Thiết kế</button>
      <button class="right-btn">Xem trước</button>
    </div>
    <div class="round-button-wrapper">
      <button class="round-btn white-btn"></button>
      <button class="round-btn blue-btn"></button>
      <button class="round-btn black-btn"></button>
    </div>
  </div>
  <div class="right-options-wrapper">
    <span class="large-title">Chọn thiết kế</span>
    <hr/>
    <span class="small-title">Loại áo</span>
    <div class="size-num">
      <button class="size-button">T-shirt</button>
      <button class="size-button">Hoodie</button>
      <button class="size-button">Polo</button>
    </div>
    <hr/>
    <span class="small-title">Tải lên thiết kế</span>
    <div class="type-div">
      <button class="upload-button">
        <img src="assets/images/plus.svg"/>
      </button>
      <img class="right-img" src="assets/images/upload-info.png"/>
    </div>
    <hr class="line-read-design"/>
    <span class="small-title">Thiết kế có sẵn</span>
    <div class="color-div">
      <button class="round-button">
        <label>Tìm kiếm tên thiết kế</label>
        <img src="assets/images/search.svg"/>
      </button>
    </div>
    <div class="design-card-div">
      <div class="design-item">
        <app-design-card></app-design-card>
      </div>
      <div class="design-item">
        <app-design-card></app-design-card>
      </div>
      <div class="design-item">
        <app-design-card></app-design-card>
      </div>
    </div>
    <div class="action-div">
      <button class="action-common back">Trở về</button>
      <button routerLink="/quantity-selection" class="action-common continue">
        Tiếp tục
      </button>
      <button class="action-common continue" (click)="clickOnContinue()">Tiếp tục</button>
    </div>
  </div>
</div>
