<div class="core-page-wrapper">
  <div class="template-image">
    <div class="top-price">
      <span class="txt-price">150.000</span>
      <span class="txt-detail">/1 áo</span>
    </div>
    <div class="shirt-group">
      <img class="front-shirt" src="{{this.thumnailImgFront}}" (click)="changeToFrontShirt()"/>
      <img class="back-shirt" src="{{this.thumnailImgBack}}" (click)="changeToBackShirt()"/>
    </div>
    <img class="main-img" src="{{this.coreShirtImg}}"/>
    <div [ngDraggable]="true" [ngResizable]="true">
      <img class="design-img" [ngClass]="designMode" [src]="designImg">
    </div>
    <div class="group-design-button">
      <button class="left-btn" [ngClass]="isLeftVisited ? 'btn-checked' : 'btn-normal'"
              (click)="checkLeftVisited()">Thiết kế
      </button>
      <button class="right-btn" [ngClass]="isRightVisited ? 'btn-checked' : 'btn-normal'"
              (click)="checkRightVisited()">Xem trước
      </button>
    </div>
    <div class="round-button-wrapper">
      <div (click)="changeToCoreWhiteShirt()">
        <button
          class="round-btn white-btn"
          [ngStyle]="{
          border:
            firstPage.shirtColor === 'white'
              ? '4px solid #808080'
              : '1px solid black'
        }"
          (click)="changeShirtColor('white')"
        ></button>
      </div>
      <div (click)="changeToCoreBlueShirt()">
        <button
          class="round-btn blue-btn"
          [ngStyle]="{
          border:
            firstPage.shirtColor === 'blue'
              ? '4px solid #808080'
              : '1px solid black'
        }"
          (click)="changeShirtColor('blue')"
        ></button>
      </div>
      <button
        class="round-btn black-btn"
        [ngStyle]="{
          border:
            firstPage.shirtColor === 'black'
              ? '4px solid #808080'
              : '1px solid black'
        }"
        (click)="changeShirtColor('black')"
      ></button>
    </div>
  </div>
  <div class="right-options-wrapper">
    <span class="large-title">Chọn thiết kế</span>
    <hr/>
    <span class="small-title">Loại áo</span>
    <div class="size-num">
      <button
        class="size-button"
        [ngStyle]="
          firstPage.shirtType === 'T-shirt'
            ? {
                background: '#2A2A86',
                color: 'white'
              }
            : {}
        "
        (click)="changeShirtType('T-shirt')"
      >
        T-shirt
      </button>
      <button
        class="size-button"
        (click)="changeShirtType('Hoddie')"
        [ngStyle]="
          firstPage.shirtType === 'Hoddie'
            ? {
                background: '#2A2A86',
                color: 'white'
              }
            : {}
        "
      >
        Hoodie
      </button>
      <button
        class="size-button"
        (click)="changeShirtType('Polo')"
        [ngStyle]="
          firstPage.shirtType === 'Polo'
            ? {
                background: '#2A2A86',
                color: 'white'
              }
            : {}
        "
      >
        Polo
      </button>
    </div>
    <hr/>
    <span class="small-title">Tải lên thiết kế</span>
    <div class="type-div" (click)="fileInput.click()">
      <button *ngIf="!imageOutput" class="upload-button">
        <img src="assets/images/plus.svg"/>
      </button>
      <img *ngIf="imageOutput" [src]="imageOutput" class="upload-button"/>
      <div class="upload-file-text">
        <span>{{this.uploadImgName}}</span>
        <span class="below-text-file">{{this.uploadImgSize}}</span>
      </div>
      <input
        #fileInput
        type="file"
        id="file_upload1"
        accept="image/*"
        style="display: none"
        (change)="handleFileInput($event)"
      />
    </div>
    <hr class="line-read-design"/>
    <span class="small-title">Thiết kế có sẵn</span>
    <div class="color-div">
      <input type="text" class="round-button search-icon" placeholder="Tìm kiếm tên thiết kế"
             (keyup.enter)="searchDesignsByTags($event)">
    </div>
    <div class="design-card-div">
      <div *ngFor="let design of designCards">
        <div class="design-item">
          <app-design-card [design]="design" (click)="replaceDesignImage(design)"></app-design-card>
        </div>
      </div>
    </div>
    <div class="action-div">
      <button class="action-common back"></button>
      <button
        class="action-common continue"
        routerLink="/quantity-selection"
        [state]="firstPage"
      >
        Tiếp tục
      </button>
    </div>
  </div>
</div>
