.template-image {
  width: 60%;
  height: 100%;
  position: relative;
  background-color: #f6f6f9;
  margin: 0;

  img {
    padding: 154px 154px 200px;
  }
}

.core-page-wrapper {
  display: flex;
  flex-direction: row;
}

.right-options-wrapper {
  height: 696px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  margin-left: 56px;

  .large-title {
    margin-top: 32px;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
  }

  .small-title {
    margin-top: 10px;
    font-family: "SVN-Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }
}

hr {
  margin-top: 28px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  opacity: 0.3;
  width: 414px;
}

.size-num {
  display: flex;
  flex-direction: row;
}

.size-button {
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 4px;
  width: 107px;
  height: 48px;
  border: 1px solid #000000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  font-family: "SVN-Gilroy";
  background-color: white;
  margin-right: 10px;
  margin-top: 20px;
}

.type-div {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.upload-button {
  width: 80px;
  height: 80px;
  background-color: white;
  box-sizing: border-box;
  position: relative;
  border: 1px dashed #333333;
  border-width: 1.8px;
}

.upload-button:hover {
  opacity: 0.1;
}

.right-img {
  margin-left: 110px;
}

.line-read-design {
  margin-top: 70px;
}

.round-button {
  box-sizing: border-box;
  position: relative;
  width: 416px;
  height: 48px;
  border: 1px solid #808080;
  border-radius: 72px;
  margin-top: 10px;
  background-color: white;
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #b3b3b3;
  text-align: left;
  padding-left: 20px;
}

.upload-file-text {
  display: flex;
  flex-flow: column wrap;
  margin-left: 10px;

  .below-text-file {
    margin-top: 10px;
  }

  span {
    font-weight: 500;
    font-size: 14px;
    color: #333333;
  }
}

.design-card-div {
  margin-top: 90px;
  width: 500px;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 150px;

  .design-item {
    margin-right: 28px;
    margin-top: 20px;
    cursor: pointer;
  }
}

.action-div {
  height: 100px;
  background-color: white;
  width: 39%;
  position: fixed;
  right: 1em;
  bottom: 0em;
}

.action-common {
  margin-top: 30px;
  width: 115px;
  height: 48px;
  border-radius: 2px;
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-left: 55px;
  border: none;
}

.back {
  background-color: white;
}

.continue {
  background-color: #2a2a86;
  margin-left: 180px;
  color: white;
}

.shirt-group {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-10%, -10%);
  -ms-transform: translate(-10%, -10%);
  margin-top: 52px;
  margin-left: 121px;

  img {
    padding: 0;
    cursor: pointer;
  }
}

.front-shirt {
  width: 56px;
  height: 71px;
}

.back-shirt {
  width: 56px;
  height: 71px;
  margin-top: 20px;
}

.front-shirt:hover,
.back-shirt:hover {
  background-color: rgba(42, 42, 134, 0.09);
}

.group-design-button {
  display: flex;
  flex-direction: row;
  position: absolute;
  transform: translate(116%, -350%);
  -ms-transform: translate(116%, -350%);

  button {
    width: 134px;
    height: 48px;
    border: 1px solid #2a2a86;
    font-family: "SVN-Gilroy";
    font-style: normal;
    font-weight: 510;
    font-size: 20px;
  }
}

.round-button-wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  transform: translate(329%, -390%);
  -ms-transform: translate(329%, -390%);
  margin: 10px;
}

.round-btn {
  width: 28px;
  height: 28px;
  border-radius: 15px;
  border: none;
  margin-left: 10px;
}

.white-btn {
  border: 4px solid #808080;
  background-color: white;
}

.blue-btn {
  background-color: #0038ff;
}

.black-btn {
  background-color: black;
}

.top-price {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 5%;
  top: 5%;

  .txt-price {
    font-weight: 700;
    font-size: 34px;
    color: #0038ff;
  }

  .txt-detail {
    font-weight: 500;
    font-size: 18px;
  }
}

.txt-detail {
}

.main-img {
  display: block;
  margin: auto;
}

.design-img {
  padding: 10px !important;
  position: absolute;
  display: inline-block;
  width: 121px;
  height: 184px;
  margin: auto;
  cursor: pointer;
}

.none-border-img {
  border: none;
  transform: translate(264%, -233%);
}

.border-img {
  border: 1px dashed black;
  transform: translate(260%, -230%);
}
