.card-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 121px;

  .left-div {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .right-div {
    padding: 32px;
    margin: auto;
    width: 416px;
    background: #f6f6f9;
    margin-left: 104px;
    margin-right: 120px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }
}

.card-header {
  display: block;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  margin-top: 30px;
  margin-left: 121px;
}

hr {
  margin-top: 28px;
  display: block;
  margin-right: auto;
  margin-left: 0;
  border-style: inset;
  border-width: 1px;
  opacity: 0.5;
  width: 60%;
}

.txt-intro {
  font-weight: 600;
  font-size: 20px;
  color: #1a1a1a;
}

.txt-total-cost {
  margin-top: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  color: #2a2a86;
}

.txt-detail {
  margin-top: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #808080;
}

.btn-checkout {
  width: 352px;
  height: 48px;
  background: #2a2a86;
  border: 1px solid #2a2a86;
  border-radius: 2px;
  margin-top: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
