<div class="core-page-wrapper">
  <div class="template-image">
    <div class="content-upsale">
      <span class="medium-title"
        ><b> <span class="large-title">Thanh toán</span> </b></span
      >
      <br />
      <hr />
      <br />
      <div class="content-upsale-box">
        <span class="medium-title"><b>Thông tin người mua</b></span>
        <div class="upsale-content">
          <div>
            <input
              type="text"
              id="fname"
              [(ngModel)]="fullName"
              (change)="fullName = fullName.trim()"
              name="fname"
              style="width: 262.5px"
              class="size-input"
              placeholder="Họ và tên"
            />
            <input
              type="email"
              name="fname"
              [(ngModel)]="email"
              (change)="email = email.trim()"
              style="width: 262.5px"
              class="size-input"
              placeholder="Email"
            />
          </div>

          <div style="margin-left: 49px; font-size: 20px">
            <div style="margin-bottom: 29px">
              <span style="margin-right: 10px">Giới tính</span>
              <div class="radio-item">
                <input
                  type="radio"
                  id="ritema"
                  (click)="gender = 'male'"
                  name="ritem"
                  value="ropt1"
                  checked
                />
                <label for="ritema"><span>Nam</span></label>
              </div>

              <div class="radio-item">
                <input
                  type="radio"
                  id="ritemb"
                  name="ritem"
                  value="ropt2"
                  (click)="gender = 'female'"
                />
                <label for="ritemb"><span>Nữ</span></label>
              </div>
            </div>

            <input
              type="text"
              id="fname"
              name="fname"
              style="width: 262.5px"
              [(ngModel)]="phone"
              (change)="phone = phone.trim()"
              class="size-input"
              placeholder="Số điện thoại"
            />
          </div>
        </div>
      </div>

      <div class="content-upsale-box">
        <span class="medium-title"
          ><b>Thông tin tài khoản thanh toán (VISA)</b></span
        >
        <div>
          <!-- Content -->
          <div class="content-upper-visa">
            <input
              type="text"
              id="fname"
              name="fname"
              style="width: 366.5px"
              class="size-input"
              [(ngModel)]="cardNumber"
              (change)="cardNumber = cardNumber.trim()"
              placeholder="Card number"
            />
            <input
              type="text"
              id="fname"
              name="fname"
              style="width: 170.5px; margin-left: 49px"
              class="size-input"
              [(ngModel)]="cvc"
              (change)="cvc = cvc.trim()"
              placeholder="CVC"
            />
          </div>
          <input
            type="text"
            id="fname"
            name="fname"
            style="width: 636px"
            class="size-input"
            [(ngModel)]="holder"
            (change)="holder = holder.trim().toUpperCase()"
            placeholder="Card holder name"
          />
        </div>
        <span style="margin-right: 10px; font-size: 20px">Expiration date</span>
        <select class="size-select" name="cars" [(ngModel)]="exp_month">
          <option selected value="">Tháng</option>
          <option *ngFor="let month of monthRange" [value]="month">
            {{ month }}
          </option>
        </select>
        <select class="size-select" name="cars" [(ngModel)]="exp_year">
          <option selected value="">Năm</option>
          <option *ngFor="let year of yearRange" [value]="year">
            {{ year }}
          </option>
        </select>
      </div>
      <br />
      <div class="content-upsale-box">
        <span class="medium-title"><b>Vận chuyển</b></span>
        <br />
        <br />
        <div style="background-color: #f6f6f9; padding: 16px 20px">
          <span>Địa chỉ nhận hàng</span>
          <br />
          <div style="display: flex">
            <select
              class="size-select"
              name="cars"
              [(ngModel)]="selectedCity"
              style="width: 100%; font-size: 16px"
            >
              <option selected value="">Tỉnh/Thành phố</option>
              <option *ngFor="let city of cities" [value]="city">
                {{ city }}
              </option>
            </select>
            <select
              class="size-select"
              name="cars"
              [(ngModel)]="selectedDistrict"
              style="width: 100%; font-size: 16px"
            >
              <option selected value="">Quận/Huyện</option>
              <option *ngFor="let district of districts" [value]="district">
                {{ district }}
              </option>
            </select>
            <select
              class="size-select"
              name="cars"
              [(ngModel)]="selectedWard"
              style="width: 100%; font-size: 16px"
            >
              <option selected value="">Phường/Xã</option>
              <option *ngFor="let ward of wards" [value]="ward">
                {{ ward }}
              </option>
            </select>
          </div>
        </div>
        <br />
        <div class="radio-item">
          <input
            type="radio"
            id="xyz"
            name="xy"
            value="yourLocation"
            (click)="emitChoice('you')"
            checked
          />
          <label for="xyz"
            ><span
              >Vận chuyển tới địa điểm của bạn (mất phí vận chuyển)</span
            ></label
          >
        </div>
        <br />
        <div class="radio-item">
          <input
            type="radio"
            id="abc"
            name="xy"
            value="yourShp"
            (click)="emitChoice('shop')"
          />
          <label for="abc"
            ><span
              >Lấy hàng tại chi nhánh Yody gần nhất (miễn phí vận chuyển)</span
            ></label
          >
        </div>
        <p
          *ngIf="defaultChoice === 'shop'"
          style="display: flex; align-items: center; margin-left: 24px"
        >
          <img src="assets/images/location.png" style="margin-right: 6px" />
          <a class="map-link" href="https://www.google.com/maps" target="_blank"
            ><span
              ><u
                ><b
                  >308 Phan Trọng Tuệ, Xã Thanh Liệt, Huyện Thanh Trì, TP Hà
                  Nội</b
                ></u
              ></span
            ></a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="right-options-wrapper" style="width: 34%">
    <span class="medium-title"><b>Đơn hàng của bạn</b></span>
    <div *ngFor="let product of previousResponse.sizes">
      <app-payment-card-item
        [item]="product.id"
        [size]="product.size"
        [quantity]="product.quantity"
        [type]="previousResponse.shirtType"
        [imageOutput]="previousResponse.yourDesign"
        [color]="previousResponse.shirtColor"
      ></app-payment-card-item>
    </div>
    <div class="vDivider"></div>
    <div class="shipping-fee">
      <span>Phí vận chuyển</span>
      <span class="txt-price">32.000đ</span>
    </div>
    <div class="action-div">
      <p style="text-align: center"><span>Tổng tiền cần thanh toán</span></p>
      <p style="text-align: center">
        <span class="txt-total-cost">{{ sumStr }}đ</span>
      </p>
      <div style="display: flex; justify-content: space-around">
        <button class="action-common back" routerLink="/cart">Trở về</button>
        <button class="action-common continue" (click)="save()">
          Đặt hàng
        </button>
      </div>
    </div>
  </div>
</div>
