<div class="card-item-wrapper">
  <button class="checkbox-btn"></button>
  <img [src]="imageOutput" />
  <div class="item-info">
    <span class="item-info-title"
      >Sản phẩm {{ item }} - Áo {{ getColor(color) }}
    </span>
    <span class="item-info-detail-wrapper">
      <span class="size-txt">{{ getSize(size) }} </span>
      <div class="dot-div"></div>
      <span class="type-txt">{{ type }}</span>
    </span>
  </div>
  <div class="right-content-div">
    <span class="txt-num">x{{ quantity }}</span>
    <span class="txt-price">{{ numberWithCommas(getPriceByType(type) * quantity) }}đ</span>
    <div class="dropdown">
      <img src="assets/images/more.svg" />
      <div class="dropdown-content">
        <div class="dropdown-content-item"><span>Chỉnh sửa</span></div>
        <div class="dropdown-content-item" style="color: red">
          <span>Xoá</span>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
