span {
  font-family: 'SVN-Gilroy';
}

button {
  cursor: pointer;
}

button:active, button:hover {
  background-color: #2A2A86 !important;
  color: white;
}

.btn-checked {
  background-color: #2A2A86 !important;
  color: white;
}

.btn-normal {
  background-color: white !important;
  color: black;
}
