<div class="core-page-wrapper">
  <div class="template-image">
    <div class="content-upsale">
      <span class="medium-title"><b>Bản thiết kế tuyệt vời! </b></span>
      <br />
      <span
        >Giờ đây bạn có thể mua tặng chiếc áo này cho người thân, bạn bè cùng
        với thật nhiều ưu đãi nhé.</span
      >
      <br />
      <br />
      <br />
      <div class="content-upsale-box">
        <div class="upsale-title">
          <span class="small-title"><b>Ưu đãi cho gia đình (20%)</b></span>
        </div>
        <div class="upsale-content">
          <div class="upsale-content-image">
            <img
              src="assets/images/three-shirt.png"
              style="margin-left: -12px"
            />
          </div>
          <div class="upsale-content-text">
            <span
              >Giảm 20% khi mua áo cho gia đình (1 áo size nam, 1 áo size nữ, 1
              áo size kid)</span
            >
          </div>
          <button
            class="upsale-content-button"
            (click)="switchUpsaleStatus('family')"
          >
            <span>Dùng ngay</span>
          </button>
        </div>
      </div>
      <div class="content-upsale-box">
        <div class="upsale-title">
          <span class="small-title"><b>Ưu đãi cho cặp đôi (10%)</b></span>
        </div>
        <div class="upsale-content">
          <div class="upsale-content-image">
            <img src="assets/images/two-shirt.png" style="margin-left: -12px" />
          </div>
          <div class="upsale-content-text">
            <span
              >Giảm 10% khi mua áo cho người thương của mình/ bạn gái/ bạn trai/
              vợ/ chồng (1 size nam và 1 size nữ)</span
            >
          </div>
          <button
            class="upsale-content-button"
            (click)="switchUpsaleStatus('couple')"
          >
            <span>Dùng ngay</span>
          </button>
        </div>
      </div>
      <div class="content-upsale-box">
        <div class="upsale-title">
          <span class="small-title"><b>Ưu đãi nhóm (30%)</b></span>
        </div>
        <div class="upsale-content">
          <div class="upsale-content-image">
            <img
              src="assets/images/five-shirt.png"
              style="margin-left: -12px"
            />
          </div>
          <div class="upsale-content-text">
            <span>Giảm 30% khi mua áo cho nhóm bạn từ 5 người trở lên.</span>
          </div>
          <button
            class="upsale-content-button"
            (click)="switchUpsaleStatus('group')"
          >
            <span>Dùng ngay</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="right-options-wrapper">
    <span class="large-title">Chọn số lượng</span>
    <hr />
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <span class="small-title">Size</span>
      <span
        ><img src="assets/images/question.png" style="margin-right: 6px" />Hướng
        dẫn chọn size</span
      >
    </div>
    <div *ngIf="pageResult.upsale === 'standard'">
      <div *ngFor="let quantitySize of pageResult.sizes">
        <div class="size-num">
          <div class="input-select-size">
            <select
              class="size-select"
              name="cars"
              id="cars"
              (change)="onSizeChange($event, quantitySize.id)"
            >
              <option value="" selected>Size --</option>
              <option value="mnam">M nam</option>
              <option value="mnu">M nữ</option>
              <option value="lnam">L nam</option>
              <option value="lnu">L nữ</option>
            </select>
            <input
              type="text"
              id="fname"
              name="fname"
              (change)="onQuantityChange($event, quantitySize.id)"
              class="size-input"
              placeholder="Nhập số lượng"
            />
          </div>
          <div
            class="delete-size"
            style="cursor: pointer"
            (click)="removeSize(quantitySize.id)"
          >
            <img src="assets/images/delete.png" />
          </div>
        </div>
      </div>
      <p style="color: #fcaf17; cursor: pointer" (click)="addSize()">
        <span>+ Thêm size</span>
      </p>
    </div>

    <div *ngIf="pageResult.upsale === 'family'" class="upsale-div">
      <span class="small-title" style="color: #2a2a86"
        >Ưu đãi cho gia đình (20%)</span
      >
      <span
        style="position: absolute; right: 10%; top: 8%; cursor: pointer"
        (click)="backToStandard()"
        ><b>X</b></span
      >
      <div *ngFor="let quantitySize of pageResult.sizes">
        <div class="size-num">
          <div class="input-select-size">
            <select
              class="size-select"
              name="cars"
              id="cars"
              [value]="quantitySize.size"
              (change)="onSizeChange($event, quantitySize.id)"
            >
              <option value="" selected>Size --</option>
              <option value="mnam">M nam</option>
              <option value="mnu">M nữ</option>
              <option value="lnam">L nam</option>
              <option value="lnu">L nữ</option>
            </select>
            <input
              type="text"
              id="fname"
              name="fname"
              [value]="quantitySize.quantity"
              (change)="onQuantityChange($event, quantitySize.id)"
              class="size-input"
              readonly
              placeholder="Nhập số lượng"
            />
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="pageResult.upsale === 'couple'" class="upsale-div">
      <span class="small-title" style="color: #2a2a86"
        >Ưu đãi cho cặp đôi (10%)</span
      >
      <span
        style="position: absolute; right: 10%; top: 8%; cursor: pointer"
        (click)="backToStandard()"
        ><b>X</b></span
      >
      <div *ngFor="let quantitySize of pageResult.sizes">
        <div class="size-num">
          <div class="input-select-size">
            <select
              class="size-select"
              name="cars"
              id="cars"
              [value]="quantitySize.size"
              (change)="onSizeChange($event, quantitySize.id)"
            >
              <option value="" selected>Size --</option>
              <option value="mnam">M nam</option>
              <option value="mnu">M nữ</option>
              <option value="lnam">L nam</option>
              <option value="lnu">L nữ</option>
            </select>
            <input
              type="text"
              id="fname"
              name="fname"
              readonly
              [value]="quantitySize.quantity"
              (change)="onQuantityChange($event, quantitySize.id)"
              class="size-input"
              placeholder="Nhập số lượng"
            />
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="pageResult.upsale === 'group'" class="upsale-div">
      <span class="small-title" style="color: #2a2a86">Ưu đãi nhóm (30%)</span>
      <span
        style="position: absolute; right: 10%; top: 8%; cursor: pointer"
        (click)="backToStandard()"
        ><b>X</b></span
      >
      <div *ngFor="let quantitySize of pageResult.sizes">
        <div class="size-num">
          <div class="input-select-size">
            <select
              class="size-select"
              name="cars"
              id="cars"
              (change)="onSizeChange($event, quantitySize.id)"
            >
              <option value="" selected>Size --</option>
              <option value="mnam">M nam</option>
              <option value="mnu">M nữ</option>
              <option value="lnam">L nam</option>
              <option value="lnu">L nữ</option>
            </select>
            <input
              type="text"
              id="fname"
              name="fname"
              (change)="onQuantityChange($event, quantitySize.id)"
              class="size-input"
              placeholder="Nhập số lượng"
            />
          </div>
        </div>
      </div>
      <p style="color: #fcaf17; cursor: pointer" (click)="addSize()">
        <span>+ Thêm size</span>
      </p>
    </div>

    <div class="action-div">
      <button class="action-common back" routerLink="/" [state]="previousPage">
        Trở về
      </button>
      <button
        class="action-common continue"
        routerLink="/cart"
        [state]="pageResult"
      >
        Thêm vào giỏ hàng
      </button>
    </div>
  </div>
</div>
